header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: transparent;
	transition: all 0.5s;
	// scroll nav
	&.sticky {
		padding: 5px 100px;
		background-color: #fff;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		transition: all 0.5s;
		& .navbar-brand img {
			display: none;
		}
	}

	& nav {
		padding: 0;
		// nav logo
		& .navbar-brand img {
			width: 80px;
		}

		// nav menu
		& .navbar-collapse .navbar-nav .nav-link {
			color: $color-dark-1;
			font-size: $fs-2;
			font-weight: $fw-2;
			padding-right: 50px;
			align-self: center;
			transition: all 0.1s linear;
			&:hover {
				color: $color-violet;
			}
		}

		// nav icon
		& .icon {
			align-self: center;
			& a {
				font-size: $fs-4;
				color: $color-dark-1;
				margin-left: 5px;
				transition: all 0.2s linear;
				&:hover {
					color: $color-violet;
				}
			}
		}
	}
}

// Responsive
// xl
@include responsive("extra-large-down") {
	header {
		background-color: $color-white;
		&.sticky {
			padding-left: 0;
			padding-right: 0;
			// nav logo
			& .navbar-brand img {
				display: block;
				width: 50px;
			}

			& .navbar-toggler {
				margin-right: auto;
			}

			& .navbar .navbar-collapse .navbar-nav {
				& .nav-link,
				.btn,
				.icon {
					align-self: center;
				}
			}
		}

		& .navbar {
			padding: 0;
			// nav logo
			& .navbar-brand img {
				width: 50px;
			}

			& .navbar-collapse .navbar-nav .nav-link {
				align-self: flex-end;
				padding-right: 0;
			}

			& .btn {
				width: 180px;
				align-self: flex-end;
				margin: 0;
			}

			& .icon {
				align-self: flex-end;
				margin: 10px 0;
			}
		}
	}
}

// sm
@include responsive("small-down") {
	header {
		background-color: $color-white;
		&.sticky {
			padding-left: 0;
			padding-right: 0;
			// nav logo
			& .navbar-brand img {
				display: block;
				width: 50px;
			}

			& .navbar-toggler {
				margin: 0 0 0 auto;
			}

			& .navbar .navbar-collapse .navbar-nav {
				& .nav-link,
				.btn,
				.icon {
					align-self: center;
				}
			}
		}
	}
}
